header {
    nav {
        div {
            #navbarNav {
                justify-content: center;
            }

            div {
                ul {
                    li {
                        .nav-link {
                            font-size: 22px
                        }

                        a {
                            margin-right: 50px;
                            font-family: italiano;
                        }
                    }
                }
            }
        }
    }
}