main {
    .h2-tiro {
        padding: 0 70px;
    }

    section {
        .col {
            text-align-last: center;
        }

        div {
            img {
                width: 250px;
                height: auto;
                border-radius: 15px;
                border: 4px solid blue;
                margin-bottom: 10px;
            }
        }
    }
}