* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/fondo-dark.png);
}

@font-face {
  font-family: "italiano";
  src: url(../fonts/Italianno/Italianno-Regular.ttf);
}
@font-face {
  font-family: "bruno-ace";
  src: url(../fonts/bruno-ace/BrunoAce-Regular.ttf);
}
@font-face {
  font-family: "satisfy";
  src: url(../fonts/Satisfy/Satisfy-Regular.ttf);
}
@font-face {
  font-family: "ultra";
  src: url(../fonts/ultra/Ultra-Regular.ttf);
}
@font-face {
  font-family: "sedan";
  src: url(../fonts/sedan/SedanSC-Regular.ttf);
}
main {
  margin-top: 35px;
}
main h1 {
  color: aliceblue;
  text-align: center;
  justify-content: center;
  margin: 15px 0 30px 0;
  font-family: "ultra";
}
main h2 {
  color: red;
  font-family: bruno-ace;
  text-align: center;
}
main h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  color: antiquewhite;
  background-color: black;
  padding: 4px;
  border: 1px solid rgba(85, 110, 247, 0.89);
  border-radius: 15px;
  width: 230px;
  text-align: center;
  margin: auto;
}
main p {
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  color: aliceblue;
  background-color: rgba(39, 39, 39, 0.877);
  border-radius: 15px;
  text-align: center;
  font-family: sedan;
}

header nav div #navbarNav {
  justify-content: center;
}
header nav div div ul li .nav-link {
  font-size: 22px;
}
header nav div div ul li a {
  margin-right: 50px;
  font-family: italiano;
}

footer {
  text-align: center;
}
footer #foo-div-redes {
  display: flex;
  justify-content: space-between;
}
footer div .foo-div-a {
  font-family: Arial, Helvetica, sans-serif;
  color: aqua;
  text-decoration: none;
  border: 1px solid rgba(0, 255, 255, 0.466);
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(31, 30, 30, 0.747);
  font-size: 14px;
  display: table-cell;
}

main .h2-tiro {
  padding: 0 70px;
}
main section .col {
  text-align-last: center;
}
main section div img {
  width: 250px;
  height: auto;
  border-radius: 15px;
  border: 4px solid blue;
  margin-bottom: 10px;
}

.container .main-section-nosotros {
  margin: auto;
}
.container section div .conocenos-images {
  width: 150px;
  height: auto;
  margin: 8px;
  border-radius: 15px;
  background-color: rgba(0, 0, 255, 0.74);
}

.container .main-h2 {
  text-align: left;
  border: 1px solid rgba(0, 0, 255, 0.87);
  background-color: rgba(48, 47, 47, 0.788);
  padding: 4px 10px;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 18px;
}
.container section div .rounded-4 {
  max-width: -webkit-fill-available;
}

main h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
  text-align: center;
  font-size: 18px;
  margin-bottom: 25px;
}
main section ul {
  color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  list-style-type: none;
  justify-content: center;
}
main section ul li {
  margin: 10px;
  text-align: center;
}
main .section-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
main .section-container form input {
  width: 95%;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 146);
  padding: 3px;
  margin: 2px;
}
main .section-container form textarea {
  width: 95%;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 146);
  padding: 3px;
  margin: 2px;
}
main .section-container form #enviar {
  width: 80px;
  margin-bottom: 15px;
}

main .servicios-section-container {
  display: flex;
  flex-direction: column;
}
main .servicios-section-container .div-left {
  width: 80%;
  align-self: flex-start;
  margin-bottom: 20px;
}
main .servicios-section-container .div-right {
  width: 80%;
  align-self: flex-end;
  margin-bottom: 20px;
}

/* MEDIA */
@media (max-width: 768px) {
  main .servicios-section-container .div-left {
    align-self: center;
  }
  main .servicios-section-container .div-right {
    align-self: center;
  }
}

/*# sourceMappingURL=style.css.map */
